@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

body { 
    font-family: 'Inter', sans-serif; 
}

#incidentMapView { 
    min-height: 320px; 
}
html { font-size: 18px; }
.text-xs   { font-size: 0.8rem  !important; }
.text-sm   { font-size: 0.9rem  !important; }
.text-base { font-size: 1rem    !important; }
.text-lg   { font-size: 1.15rem !important; }
.text-xl   { font-size: 1.3rem  !important; }
.text-2xl  { font-size: 1.6rem  !important; }
.text-3xl  { font-size: 2rem    !important; }
